body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
.order::-webkit-scrollbar, .list-product-container::-webkit-scrollbar{
  width: 10px;
}

/* Track */
.order::-webkit-scrollbar-track, .list-product-container::-webkit-scrollbar-track{
  background: #f1f1f1; 
}
 
/* Handle */
.order::-webkit-scrollbar-thumb, .list-product-container::-webkit-scrollbar-thumb{
  background: #888; 
}

/* Handle on hover */
.order::-webkit-scrollbar-thumb:hover, .list-product-container::-webkit-scrollbar-thumb:hover{
  background: #555; 
}

.list-product-container{
  height: 480px;
  overflow-y: auto;
}

.img-product{
  width: 100%;
  height: 180px;
}

.order{
  height: 80vh;
  overflow: auto;
}

@media screen and (max-width: 767px) {
  .img-product {
    width: 140px;
    height: 171px;
    margin: 0 auto;
    display: block;
  }
  .order{
    height: 30vh;
  }
}